# Entornos virtuales
# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Archivos temporales
*.log
*.tmp

# Docker
mysql_data/

# Sistema
.DS_Store
Thumbs.db

# BD
data.sql