body {
    display: flex;
    margin: 0;
    background-color: #F8FAF9;
    font-family: sans-serif;
}

body button,
a {
    cursor: pointer;
}

.contenedor button {
    cursor: pointer;
}

.header {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.cabezal {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: top;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cabezal button {
    display: flex;
    width: 120px;
    gap: 7px;
    text-align: center;
    color: black;
    background-color: #FEFEFE;
    border: none;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.cabezal button:hover {
    background-color: #0F1629;
    color: white;
    font-weight: bold;
}

#lbl-texto {
    color: gray;
    font-size: 3.5mm;
}

.div-presentacion {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.div-presentacion p {
    margin: 0;
}

.div-resumenes {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    color: black;
}

.div-resumenes div {
    display: flex;
    width: 50%;
    padding: 20px;
    border: none;
    border-left: solid #FEFEFE 3px;
    background-color: #FEFEFE;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}


.div-resumenes section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-valor-ventas button {
    color: #49775d;
    background-color: #c9e6d1;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.div-productos button {
    color: #394e8ed3;
    background-color: #cfd6de;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.div-valor-inventario button {
    color: #49775d;
    background-color: #c9e6d1;
    border-radius: 4px;
    border: none;
    padding: 10px 12px 10px 12px;
}

.div-stock-bajo button {
    color: #8e3939 !important;
    background-color: #e6cdc9;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.div-resumenes b {
    font-size: 3mm;
}

.div-cabesal {
    display: flex;
    justify-content: space-between;

}

.div-inferior {
    padding: 20px;
}

.seccion-inferior {
    display: flex;
    width: 100%;
    gap: 20px
}

.div-acciones-rapidas {
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 20px;
    border: none;
    color: black;
    gap: 15px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.parrafos-divs-alertas-sistema {
    font-weight: bold;
}

.divs {
    display: flex;
    gap: 20px;
}

.divs p {
    color: gray;
}

.div {
    display: flex;
    flex-direction: column;
    width: 69%;
    padding: 20px;
    border: none;
    gap: 15px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.div-acciones-rapidas {
    background-color: #FEFEFE;
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.div-botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-botones button {
    display: flex;
    padding: 15px;
    background-color: #FEFEFE;
    border: none;
    gap: 7px;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
}

.div-botones button:hover {
    background-color: #0F1629;
    color: white;
    font-weight: bold;
}

.div-alertas-sistema {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.div-ventas-hoy {
    height: fit-content;
    padding-left: 20px;
    border: none;
    font-size: small;
    border-left: solid #398E77 3px;
}

.div-pendiente {
    padding-left: 20px;
    font-size: small;
    border: none;
    border-left: solid #c19343 3px;
}

.div-ventas-hoy a {
    color: #0066FF;
    text-decoration: none;
    font-size: small;
}

.div-pendiente a {
    color: #0066FF;
    text-decoration: none;
    font-size: small;
}