/* =========================
   GENERAL
========================= */

body {
    display: flex;
    margin: 0;
    background-color: #F8FAF9;
    font-family: sans-serif;
}

body button, a, i {
    cursor: pointer;
}

.contenedor {
    display: flex;
    flex-direction: column;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: #FEFEFE;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.div-presentacion {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    padding: 8px 0px 0px 0px;
}

.div-presentacion p {
    margin-top: 0%;
    color: gray;
    font-size: small;
    padding: 8px 0px 0px 0px;
}

.div-presentacion h2 {
    margin-bottom: 0;
    margin-top: 5%;
}

.btn-nuevo-usuario{
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: #F8FAF9;
    background-color: #2E3547;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn-nuevo-usuario:hover{
    background:#1f2c43;
}
/* =========================
   BUSQUEDA
========================= */

.input-busqueda{
    width:350px;
    height:40px;
    border:1px solid #d5d5d5;
    padding:0 12px;
    font-size:15px;
    outline: none;
}

/* =========================
   TABLA
========================= */

.tabla-usuarios{
    width: 100%;
    table-layout: fixed;
    background: #FEFEFE;
    font-family: Arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.tabla-usuarios th{
    padding: 14px;
    text-align: left;
    color: gray;
}

.tabla-usuarios thead {
    display: table;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: #F8F8F8;
}
.tabla-usuarios tbody td {
    font-weight: bolder;
    padding-left: 14px;
}


.tabla-usuarios thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tabla-usuarios th {
    padding: 14px;
    text-align: left;
    color: gray;
}

/* TBODY CON SCROLL */
.tabla-usuarios tbody {
    display: block;
    height: 310px;
    overflow-y: auto;
}

/* FILAS */
.tabla-usuarios tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 60px;
}

.tabla-usuarios tbody tr:hover {
    background-color: #f5f5f5;
}

/* =========================
   BADGES
========================= */

.badge-admin{
    background:#198754;
    color:white;
    padding:7px 12px;
    border-radius:7px;
    font-size:13px;
}

.badge-empleado{
    background:#6c757d;
    color:white;
    padding:7px 12px;
    border-radius:7px;
    font-size:13px;
}

/* =========================
   BOTONES
========================= */

.btn-actualizar {
    color:#4caf50;
    padding-right: 10px;
    transition:.2s;
}

.btn-eliminar {
    color:#dc3545;
    transition:.2s;
}

.btn-actualizar:hover {
    color:#377739;
}

.btn-eliminar:hover {
    color:#bb2d3b;
}

/* =========================
   ANIMACIONES
========================= */

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1100px){

    .contenedor{
        grid-template-columns:1fr;
    }

    .panel-header{
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }

    .input-busqueda{
        width:100%;
    }

}

.div-input {
    border: solid #DEDEDE 1px;
    background-color: #FEFEFE;
    width: 40%;
    padding-left: 10px;
    color: gray;
}

.input-buscar-usuarios {
    width: 90%;
    padding: 10px 10px 10px 0px;
    border: none;
    font-size: 14px;
    outline: none;
}

