body {
    display: flex;
    margin: 0;
    background-color: #F8FAF9;
    font-family: sans-serif;
}

body button, a, i {
    cursor: pointer;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.div-presentacion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px 0px 0px 0px;
}

.div-presentacion p {
    margin-top: 0;
    color: gray;
    font-size: small;
}

.div-presentacion h2 {
    margin-bottom: 0;
    margin-top: 5%;
}

.fechas {
    display: flex;
    gap: 15px;
}

.fechas p {
    font-size: small;
    font-weight: bold;
    color: gray;
}

.fechas input {
    padding: 10px;
    color: gray;
    border: solid rgb(178, 178, 178) 1px;
}

.operaciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #FEFEFE;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.operaciones button {
    padding: 13px;
    border: none;
    height: max-content;
    align-items: center;
    border-radius: 6px;
    background-color: #2E3547;
    color: #F8FAF9;
}

.fechas {
    display: flex;
    align-items: end;
}

.operaciones button:hover {
    background-color: #324154;
}

/* ESTILOS EXTRA */
.numero {
    font-weight: bold;
    color: #333;
    font-size: medium;
    padding-left: 14px;
}

.fecha {
    text-align: start;
    padding-left: 14px;
}

.fecha p {
    color: gray;
    font-size: small;
}

.usuario, .items {
    font-size: small;
    color: #999;
    padding-left: 17px;
    font-weight: bold;
}

.items {
    padding-left: 15px;
}

.metodo {
    padding-left: 17px;
}
.p-metodo {
    padding: 5px;
    color: #324154;
    font-weight: bold;
    background-color: #b3ddea;
    border: none;
    border-radius: 8px;
    font-size: small;
    width: fit-content;
}

.total {
    color: #2e8b34;
    font-weight: bold;
    font-size: small;
    padding-left: 17px;
}

.estado {
    padding-left: 17px;
}

.acciones {
    padding-left: 25px;
}
.acciones i {
    margin-right: 10px;
    font-size: medium;
    font-weight: bold;
}

.acciones .eliminar {
    color: #e53935;
}

.acciones .informacion {
    color: #6289f3;
}

.acciones i:hover {
    opacity: 0.7;
}