<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- CSS GLOBAL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">

    <!-- CSS POR VISTA -->
    {% block css %}{% endblock %}
</head>

<body>

    <!-- BOTON SIDEBAR -->
    {% include 'components/boton-sidebar.html' %}

    <!-- SIDEBAR GLOBAL -->
    {% include 'components/sidebar.html' %}

    <!-- DIALOG ELIMINAR -->
    {% include 'components/dialog-eliminar.html' %}

    <!-- TOAST GLOBAL -->
    <div id="contenedor-toasts" class="contenedor-toasts">
        {% include 'components/toast.html' %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script type="module">
                import { mostrarToast } from "{{ url_for('static', filename='js/components/toast.js') }}";
                document.addEventListener("DOMContentLoaded", () => {
                    {% for category, message in messages %}
                        mostrarToast({{ message | tojson }}, {{ category | tojson }});
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endwith %}

    <!-- CONTENIDO DINÁMICO -->
    {% block contenido %}{% endblock %}

    <script type="module" src="{{ url_for('static', filename='js/pages/logout.js') }}"></script>

    <!-- JS POR VISTA -->
    {% block js %}{% endblock %}

</body>

</html>