{% extends 'base.html' %}

{% block title %}Punto de Ventas{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/compras.css')}}">
{% endblock %}

{% block contenido %}

<div class="contenedor" id="contenedor">
    <div class="contenedor-carrito">
        <div class="div-buscar-producto">
            {% include 'components/input-buscar.html' %}
        </div>

        <div class="div-productos">
            <div class="div-titulo">
                <b>Carrito de Compras</b>
                <p id="cantidad"></p>
            </div>

            <div class="div-carrito"></div>
        </div>
    </div>

    <div class="contenedor-datos-compra">

        <div class="datos-compra">

            <h2>DATOS DE LA COMPRA</h2>

            <div class="formulario-compra">

                <!-- Proveedor -->
                <div class="campo-compra">
                    <label for="select-proveedor">Proveedor</label>
                    <select id="select-proveedor" name="proveedor-compras">
                        <option value="0">Seleccione un proveedor</option>
                    </select>
                </div>

                <!-- Método de pago -->
                <div class="campo-compra">
                    <label for="select-metodo-pago">Método de pago</label>
                    <select id="select-metodo-pago" name="metodo-pago">
                        <option value="0">Seleccione un metodo</option>
                    </select>
                </div>

            </div>

            <!-- Resumen -->
            <div class="resumen-compra">

                <div class="fila-resumen">
                    <span>Subtotal</span>
                    <span id="subtotalCompra">$0</span>
                </div>

                <div class="fila-resumen">
                    <span>IVA (19%)</span>
                    <span id="ivaCompra">$0</span>
                </div>

                <div class="separador"></div>

                <div class="fila-resumen total">
                    <span>Total</span>
                    <span id="totalCompra" class="totalCompra">$0</span>
                </div>

            </div>

        </div>

        <!-- Botones -->
        <div class="acciones-compra">

            <button type="button" class="btn-limpiar" id="btnLimpiarCarrito">
                Limpiar carrito
            </button>

            <button type="button" class="btn-confirmar" id="btnConfirmarCompra">
                Confirmar compra
            </button>

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/pages/compras.js') }}"></script>
{% endblock %}