{% extends 'base.html' %}

{% block title %}Historial de Compras{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/historial_compras.css')}}">
{% endblock %}

{% block contenido %}

<div class="contenedor" id="contenedor">

    <header class="header">
        <div class="div-presentacion">
            <h2 id="lbl-saludo">Historial de Compras</h2>
            <p id="lbl-texto">Administra las compras realizadas</p>
        </div>

        <button id="btn-nueva-compra" class="btn-nueva-compra">
            <i class="fa-solid fa-plus"></i>
            Nueva Compra
        </button>
    </header>

    <div class="div-acciones">

        <div class="div-productos-inventario">
            <div class="div-cantidad-compras">
                <p class="p-total-compras">Total:</p>
                <p id="p-cantidad-compras" class="p-cantidad-compras">0</p>
                <p class="p-compras">compras</p>
            </div>
        </div>

        <div class="operaciones">

            {% include 'components/input-buscar.html' %}

            <select id="select-proveedores-acciones" class="select-proveedores-acciones" name="proveedores-acciones">
                <option value="0">Seleccione un proveedor</option>
            </select>

            <button id="btn-actualizar-pagina">
                <i class="fa-solid fa-arrows-rotate"></i>
                Actualizar
            </button>

        </div>
    </div>

    <table class="tabla-compras">
        <thead>
            <tr>
                <th>N° COMPRA</th>
                <th>PROVEEDOR</th>
                <th>FECHA</th>
                <th>TOTAL</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody id="tbody-compras"></tbody>
    </table>

</div>
{% endblock %}

<!-- DIALOG DETALLES COMPRAS -->
{% include 'components/dialog-detalles.html' %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/pages/historial_compras.js') }}"></script>
{% endblock %}