{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/inventario.css')}}">
{% endblock %}

{% block contenido %}

<div class="contenedor" id="contenedor">

    <header class="header">
        <div class="div-presentacion">
            <h2 id="lbl-saludo">Gestion de Productos</h2>
            <p id="lbl-texto">Administra tu catalogo de productos</p>
        </div>

        <button id="btn-nuevo-producto" class="btn-agregar-producto">
            <i class="fa-solid fa-plus"></i>
            Nuevo Producto
        </button>
    </header>

    <div class="div-acciones">

        <div class="div-productos-inventario">
            <div class="div-cantidad-inventario">
                <p class="p-total">Total:</p>
                <p id="p-cantidad-productos-inventario" class="p-cantidad-productos-inventario">0</p>
                <p class="p-productos">productos</p>
            </div>
        </div>

        <div class="operaciones">

            <div class="div-input">
                <i id="icono-buscar" class="fa-solid fa-magnifying-glass"></i>
                <input id="input-buscar-producto" class="input-buscar-producto" type="text"
                    placeholder="Buscar producto por codigo">
            </div>

            <select id="select-categorias-acciones" class="select-categorias">
                <option value="0">Todas las categorias</option>
                <option value="1">Abarrotes</option>
                <option value="2">Bebidas</option>
                <option value="3">Limpieza</option>
            </select>

            <button id="btn-actualizar-pagina">
                <i class="fa-solid fa-arrows-rotate"></i>
                Actualizar
            </button>

            <button>
                <i class="fa-solid fa-plus"></i>
                Nueva Categoria
            </button>
        </div>
    </div>

    <table class="tabla-productos">
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>CÓDIGO</th>
                <th>PRECIO</th>
                <th>COSTO</th>
                <th>STOCK</th>
                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody id="tbody-productos"></tbody>
    </table>

</div>

<!-- DIALOG PRODUCTOS -->
{% include 'components/dialog-productos.html' %}

{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/pages/inventario.js') }}"></script>
{% endblock %}