{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/inventario.css')}}">
{% endblock %}

{% block contenido %}

<div class="contenedor-inventario">

    <header class="header">
        <div class="div-presentacion">
            <h2 id="lbl-saludo">Gestion de Productos</h2>
            <p id="lbl-texto">Administra tu catalogo de productos</p>
        </div>

        <button id="btn-nuevo-producto" class="btn-agregar-producto">
            <i class="fa-solid fa-plus"></i>
            Nuevo Producto
        </button>
    </header>

    <div class="div-acciones">
       
        <div class="div-productos-inventario">  
            <div class="div-cantidad-inventario">  
                <p class="p-total">Total:</p>
                <p id="p-cantidad-productos-inventario" class="p-cantidad-productos-inventario">0</p>
                <p class="p-productos">productos</p>
            </div>
        </div>

        <div class="operaciones">

            <div class="div-input">
                <i id="icono-buscar" class="fa-solid fa-magnifying-glass"></i>
                <input id="input-producto" class="input-producto" type="number"
                    placeholder="Buscar producto por codigo">
            </div>

            <select id="select-categorias-acciones" class="select-categorias">
                <option value="">Todas las categorias</option>
                <option value="Abarrotes">Abarrotes</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Aseo y Limpieza">Aseo y Limpieza</option>
            </select>

            <button id="btn-actualizar-pagina">
                <i class="fa-solid fa-arrows-rotate"></i>
                Actualizar
            </button>

            <button>
                <i class="fa-solid fa-plus"></i>
                Nueva Categoria
            </button>
        </div>
    </div>

    <table class="tabla-productos">
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>CÓDIGO</th>
                <th>PRECIO</th>
                <th>COSTO</th>
                <th>STOCK</th>
                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody id="cuerpo-tabla-inventario"></tbody>
    </table>

</div>

<dialog id="dialog-actualizar" class="dialog-actualizar">
    <form id="form-actualizar" class="form-actualizar">
        <h2 class="titulo"> Actualizar Producto </h2>

        <div class="inputs">
            <input name="codigo" type="number" readonly>
            <input name="nombre" type="text" required>
            <input name="stock" type="number" required>
            <input name="precio" type="number" required>
            <input name="costo" type="number" required>
            <input name="caducidad" type="date" required>

            <select name="categorias" class="select-categorias">
                <option value="">Categorias</option>
                <option value="abarrotes">Abarrotes</option>
                <option value="bebidas">Bebidas</option>
                <option value="aseo y limpieza">Aseo y Limpieza</option>
            </select>
        </div>

        <div class="dialog-botones">
            <button id="btn-cerrar-dialog-actualizar" type="button">
                Cancelar
            </button>

            <button id="btn-actualizar" type="button">
                Actualizar
            </button>
        </div>
    </form>
</dialog>

<dialog id="dialog-agregar" class="dialog-agregar">
    <form id="form-agregar" class="form-agregar">
        <h2 class="titulo"> Nuevo Producto </h2>

        <div class="inputs">
            <input name="codigo" type="number" placeholder="Codigo del producto" required>
            <input name="nombre" type="text" placeholder="Nombre del producto" required>
            <input name="stock" type="number" placeholder="Cantidad que se ingresa" required>
            <input name="precio" type="number" placeholder="Valor unitario" required>
            <input name="costo" type="number" placeholder="Costo del producto" required>
            <input name="caducidad" type="date" required>

            <select name="categorias" class="select-categorias">
                <option value="">Categorias</option>
                <option value="abarrotes">Abarrotes</option>
                <option value="bebidas">Bebidas</option>
                <option value="aseo">Aseo y Limpieza</option>
            </select>
        </div>

        <div class="dialog-botones">
            <button id="btn-cerrar-dialog-agregar" type="button">
                Cancelar
            </button>

            <button id="btn-dialog-agregar" type="button">
                Agregar
            </button>
        </div>
    </form>
</dialog>


<dialog id="dialog-confirmacion" class="dialog-confirmacion">
    <p>¿Deseas borrar este producto?</p>

    <div class="div-botones-confirmacion">
        <button id="btn-cancelar-confirmacion">
            Cancelar
        </button>

        <button id="btn-confirmar-borrado" class="btn-confirmar-borrado">
            Confirmar
        </button>
    </div>
</dialog>

{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/pages/inventario.js') }}"></script>
{% endblock %}