{% extends 'base.html' %}

{% block title %}Punto de Ventas{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/puntoVentas.css')}}">
{% endblock %}

{% block contenido %}

<div class="contenedor">
    <div class="contenedor-carrito">
        <div class="div-buscar-producto">
            <div class="div-input">
                <i id="icono-buscar" class="fa-solid fa-magnifying-glass"></i>
                <input id="input-producto-carrito" type="number" placeholder="Buscar producto por codigo">
            </div>
        </div>

        <div class="div-productos">
            <div class="div-titulo">
                <b>Carrito de Compras</b>
                <p id="cantidad"></p>
            </div>

            <div class="div-carrito"></div>
        </div>
    </div>

    <div class="div-pagos-contenedor">

        <div class="div-pagos">

            <b>Pago en Efectivo</b>

            <div class="pago-box">

                <label>Total a pagar</label>
                <input class="in_total" type="text" id="totalPagar" value="0" readonly>

                <label>Dinero recibido</label>
                <input type="number" id="recibido" placeholder="Ingrese el monto">

                <div class="quick-cash">
                    <button onclick="agregarMonto(5000)">+5.000</button>
                    <button onclick="agregarMonto(10000)">+10.000</button>
                    <button onclick="agregarMonto(20000)">+20.000</button>
                </div>

                <label>Cambio</label>
                <input type="text" id="cambio" readonly>

                <p id="estadoPago" class="estado"></p>

            </div>

            <div class="div-procesar-venta">
                <button id="btn-procesar-venta" class="btn-procesar-venta">Procesar Venta</button>
                <button id="btn-limpiar-carrito" class="btn-limpiar-carrito">Limpiar Carrito</button>
            </div>
        </div>

    </div>
</div>

<dialog id="dialog-pagos" class="dialog-pagos">
    <b style="font-size: large;">Registrar Pago</b>

    <div class="div-total-pagos">
        <p>Total a pagar</p>
        <b id="total-venta">15.500,00</b>
    </div>

    <div class="div-monto-ingresado">
        <p>¿Con cuanto paga?</p>
        <input id="input-monto-ingresado" type="number" placeholder="Ingrese el monto recibido">
    </div>

    <div id="div-vueltos" class="div-vueltos">
        <p>Vueltos:</p>
        <b id="lbl-vueltos">Monto insuficiente</b>
    </div>

    <div class="div-botones-pagos">
        <button id="btn-cancelar-pago" class="btn-cancelar-pago">
            <i class="fa-solid fa-x"></i>
            Cancelar
        </button>

        <button id="btn-confirmar-pago" class="btn-confirmar-pago">
            <i class="fa-solid fa-check"></i>
            Confirmar
        </button>
    </div>

</dialog>

<div id="letrero" class="letrero">
    <i id="icono-letrero"></i>
    <span id="texto-letrero" class="texto-letrero"></span>

</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/puntoVentas.js') }}"></script>
{% endblock %}