{% extends 'base.html' %}

{% block title %}Punto de Ventas{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/puntoVentas.css')}}">
{% endblock %}

{% block contenido %}

<div class="contenedor" id="contenedor">
    <div class="contenedor-carrito">
        <div class="div-buscar-producto">
            <div class="div-input">
                <i id="icono-buscar" class="fa-solid fa-magnifying-glass"></i>
                <input id="input-producto-carrito" type="text" placeholder="Buscar producto por codigo">
            </div>
        </div>

        <div class="div-productos">
            <div class="div-titulo">
                <b>Carrito de Compras</b>
                <p id="cantidad"></p>
            </div>

            <div class="div-carrito"></div>
        </div>
    </div>

    <div class="div-pagos-contenedor">

        <div class="div-pagos">

            <b>Pago en Efectivo</b>

            <div class="pago-box">

                <label>Total a pagar</label>
                <input class="in_total" type="text" id="totalPagar" value="0" readonly>

                <label>Dinero recibido</label>
                <input type="number" id="recibido" placeholder="Ingrese el monto">

                <label>Cambio</label>
                <input type="text" id="cambio" readonly>

                <p id="estadoPago" class="estado"></p>

            </div>

            <div class="div-procesar-venta">
                <button id="btn-procesar-venta" class="btn-procesar-venta">Procesar Venta</button>
                <button id="btn-limpiar-carrito" class="btn-limpiar-carrito">Limpiar Carrito</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='js/pages/puntoVentas.js') }}"></script>
{% endblock %}