{% extends 'base.html' %}

{% block title %} Gestión de Usuarios {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
{% endblock %}

{% block contenido %}
<div class="contenedor" id="contenedor">

    <!-- CABECERA -->
    <div class="page-header">

        <div class="div-presentacion">
            <h2>Gestión de Usuarios</h2>
            <p>Administra los usuarios del sistema</p>
        </div>

        <button class="btn-nuevo-usuario" id="btn-nuevo-usuario">
            <i class="fa-solid fa-plus"></i>
            Nuevo Usuario
        </button>

    </div>

    <!-- PANEL FILTROS -->
    <section class="panel filtros-panel">

        <div class="panel-header">

            <div class="div-input">
                <i class="fa-solid fa-magnifying-glass"></i>

                <input id="input-buscar-usuarios" class="input-buscar-usuarios" type="number"
                    placeholder="Buscar usuario por cédula">
            </div>

        </div>

    </section>

    <!-- TABLA -->
    <section class="panel tabla-panel">

        <div class="tabla-contenedor">

            <table class="tabla-usuarios">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody id="tbody-usuarios"></tbody>
                
            </table>
            
        </div>
        
    </section>
    
</div>

<!-- DIALOG USUARIOS -->
{% include 'components/dialog-usuarios.html' %}

{% endblock %}

{% block js %}
<script type="module" src="{{ url_for('static', filename='/js/pages/usuarios.js') }}"></script>
{% endblock %}