<dialog id="dialog-recibir-mercancia" class="dialog-recibir-mercancia">

    <div class="cabecera-dialog">

        <h2 id="lbl-recibir-titulo"></h2>

        <button id="btn-x-recibir" type="button">✕</button>

    </div>

    <div class="datos">

        <div>
            <span id="lbl-recibir-usuario"></span>
            <p id="p-recibir-usuario"></p>
        </div>

    </div>

    <h3>Productos a recibir</h3>

    <div class="contenedor-tabla">

        <table>

            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>SOLICITADO</th>
                    <th>RECIBIDO</th>
                    <th>FALTANTE</th>
                </tr>
            </thead>

            <tbody id="tbody-recepcion"></tbody>

        </table>

    </div>

    <div class="pie-dialog-recibir">

        <div class="dialog-botones">

            <button id="btn-cancelar-recepcion" class="btn-cancelar-recepcion">
                Cancelar
            </button>

            <button id="btn-confirmar-recepcion" class="btn-confirmar-recepcion">
                Confirmar recepcion
            </button>

        </div>

    </div>

</dialog>