<dialog id="dialog-detalles-ventas" class="dialog-detalles-ventas">

    <div class="cabecera-dialog">

        <h2>Detalles de la Venta</h2>

        <button id="btn-x-detalles" type="button">✕</button>

    </div>

    <div class="datos">

        <div>
            <span>Número de Venta</span>
            <p id="p-numero-venta"></p>
        </div>

        <div>
            <span>Usuario</span>
            <p id="p-usuario"></p>
        </div>

        <div>
            <span>Fecha</span>
            <p id="p-fecha"></p>
        </div>

        <div>
            <span>Método de pago</span>
            <p id="p-metodo" class="metodo-dialog"></p>
        </div>

        <div>
            <span>Hora</span>
            <p id="p-hora"></p>
        </div>

    </div>

    <h3>Productos</h3>

    <div class="contenedor-tabla">

        <table>

            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>CANTIDAD</th>
                    <th>VALOR UNIT.</th>
                    <th>SUBTOTAL</th>
                </tr>
            </thead>

            <tbody id="tbody-detalles"></tbody>

        </table>

    </div>

    <div class="pie-dialog">

        <div class="total-pos">
            Total:
            <b id="p-total"></b>
        </div>

        <div class="dialog-botones">

            <button id="btn-cerrar-detalles" class="btn-cerrar-detalles">
                Cancelar
            </button>

            <button id="btn-imprimir" class="btn-imprimir">
                Imprimir factura
            </button>

        </div>

    </div>

</dialog>