<dialog id="dialog-categoria" class="dialog-categoria">

    <h2>Nueva Categoria</h2>

    <form id="form-categoria">

        <div class="campo">
            <label>Nombre</label>
            <input id="input-nombre-categoria" type="text" placeholder="Ingrese nombre" required>
        </div>

        <div class="campo">
            <label>Descripcion (opcional)</label>
            <textarea id="input-descripcion" placeholder="Ingrese descripcion"></textarea>
        </div>

        <div class="dialog-botones">
            <button type="button" class="btn-cancelar-categoria" id="btn-cancelar-categoria">
                Cancelar
            </button>

            <button type="submit" class="btn-crear-categoria" id="btn-crear-categoria">
                Crear Categoria
            </button>
        </div>

    </form>
</dialog>