<nav id="sidebar" class="sidebar">
    <p id="parrafo-nombre-software">Sistema de Ventas</p>

    <div class="div-menu-lateral">
        <a href="/" id="link-inicio">
            <i class="fa-solid fa-house"></i>
            Inicio
        </a>

        <a href="/puntoVentas" id="link-punto-ventas">
            <i class="fa-solid fa-cart-shopping"></i>
            Punto de Venta
        </a>

        <a href="/ventas" id="link-ventas">
            <i class="fa-solid fa-cash-register"></i>
            Ventas
        </a>

        <a href="/inventario" id="link-inventario">
            <i class="fa-solid fa-boxes-stacked"></i>
            Inventario
        </a>

        <a href="/usuarios" id="link-usuarios">
            <i class="fa-solid fa-user"></i>
            Usuarios
        </a>
    </div>

    <button id="btn-cerrar-sesion">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Cerrar Sesion
    </button>
</nav>