body {
    display: flex;
    margin: 0;
    background-color: #F8FAF9;
    font-family: sans-serif;
    padding-right: 60px;
}

body button, a {
    cursor: pointer;
}

.div-boton {
    width: 5%;
}

.div-boton.active {
    width: 0%;
}

#btn-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 22px;
    background: none;
    font-weight: bold;
    color: black;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 1001;
    border-radius: 10px;
}

#btn-menu.active {
    color: white
}

.sidebar {
    position: relative;
    margin-top: 0;
    top: 0;
    left: -220px;      /* OCULTO */
    width: 0%;
    height: 100vh;
    background: #0F1629;
    transition: left 0.3s ease;  
}

.sidebar.active {
    left: 0;
    width: 100%;
}

#parrafo-nombre-software {
    padding: 10px;
    margin-left: 52px;
    margin-top: 21px;
    font-size: large;
    font-weight: 600;
    color: white;
}

#usuario {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

#btn-cerrar-sesion {
    position: absolute;
   
    text-align: left;
    font-size: 15px;
    padding: 15px 15px 15px 25px;
    background-color: #0F1629;
    color: #F02427;
    border: none;
    bottom: 10px;
}

#btn-cerrar-sesion:hover {
    color: #AB859A;
    font-weight: bold;
}

.div-menu-lateral {
    padding: 20px;
    background-color: #1B2336;
}

.div-menu-lateral a {
    color: #9EA6B9;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
}

.contenedor button{
    cursor: pointer;
}

.contenedor {
    width: 95%;
    transition: right 0.3s ease;
}

.contenedor.active {
    width: 80%;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar a:hover {
    background-color: #324154;
    color: white;
    font-weight: bold;
}

.header {
    padding-top: 10px;   
    padding-left: 20px;
    padding-right: 20px;
}

.cabezal {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: top;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cabezal button {
    display: flex;
    width: 120px;
    gap: 7px;
    text-align: center;
    color: black;
    background-color: #FEFEFE;
    border: none;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.cabezal button:hover {
    background-color: #0F1629;
    color: white;
    font-weight: bold;
}

#lbl-texto {
    color: gray;
    font-size: 3.5mm;
}

.div-presentacion {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.div-presentacion p {
    margin: 0;
}

.div-resumenes{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px 20px 20px 20px;
    color: black;
}

.div-resumenes div {
    display: flex;
    width: 200px;
    padding: 20px;
    border: none;
    border-left: solid #FEFEFE 3px;
    background-color: #FEFEFE;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}


.div-resumenes section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-valor-ventas button {
    color: #49775d;
    background-color: #c9e6d1;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.div-productos button {
    color: #394e8ed3;
    background-color: #cfd6de;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.div-valor-inventario button {
    color: #49775d;
    background-color: #c9e6d1;
    border-radius: 4px;
    border: none;
    padding: 10px 12px 10px 12px;
}

.div-stock-bajo button {
    color: #8e3939!important;
    background-color: #e6cdc9;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.div-resumenes b {
    font-size: 3mm;
}

.div-cabesal {
    display: flex;
    justify-content: space-between;

}

.div-inferior {
    padding: 20px;
}

.seccion-inferior {
    display: flex;
    width: 100%;
    gap: 20px
}

.div-acciones-rapidas {
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 20px;
    border: none;
    color: black;
    gap: 15px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.parrafos-divs-alertas-sistema {
   font-weight: bold ;
}

.divs {
    display: flex;
    gap: 20px;
}

.divs p {
    color: gray;
}

.div {
    display: flex;
    flex-direction: column;
    width: 69%;
    padding: 20px;
    border: none;
    gap: 15px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.div-acciones-rapidas {
    background-color: #FEFEFE;
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.div-botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-botones button {
    display: flex;
    padding: 15px;
    background-color: #FEFEFE;
    border: none;
    gap: 7px;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
}

.div-botones button:hover {
    background-color: #0F1629;
    color: white;
    font-weight: bold;
}

.div-alertas-sistema {
    display: flex;
    flex-direction: row;
    width: 233px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.div-ventas-hoy {
    height: fit-content;
    padding-left: 20px;
    border: none;
    font-size: small;
    border-left: solid #398E77 3px;
}

.div-pendiente {
    padding-left: 20px;
    font-size: small;
    border: none;
    border-left: solid #c19343 3px;
}

.div-ventas-hoy a {
    color: #0066FF;
    text-decoration: none;
    font-size: small;
}

.div-pendiente a {
    color: #0066FF;
    text-decoration: none;
    font-size: small;
}

.letrero {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 280px;
  padding: 12px 16px;
  background-color: #FEFEFE;
  color: black;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 1000;
}

/* cuando está visible */
.letrero.show {
  opacity: 1;
  transform: translateY(0);
}

/* animación de salida hacia arriba */
.letrero.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.letrero.success i {
    color: #2e8b57;
}

.letrero.error i {
    color: #8b2e2e;
}





